log_path: "logs/checkmatrix.log"

model:
    path: "data/model.pth"
    epochs: -1 # -1 for no limit
    device: "auto" # "auto", "cpu", "cuda"
    learning_rate: 0.001
    opponent: "mixed" # "stockfish", "self", "mixed", "user" # Mixed is 50% self, 50% stockfish

    mcts: # Monte Carlo Tree Search
        iterations: 300
        workers: 6

stockfish:
    path: "stockfish.exe"
    depth: 10
    nodes: 100000
    time: 0.1
